<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your account has been deleted, <%= @user.full_name %></h1>
    <p>
      Thank you for using www.Rotten-Mangoes.com,
      <%= @user.full_name %>.<br>
      You are welcome to sign up again anytime!
    </p>
    <p>
      To sign up to the site again, just follow this link: <%= @url %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>